<!DOCTYPE html>
<html lang="en">
  <!--    HEAD    -->
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!--    HEADER  -->
    <%- include('../partials/header') %>
    <main class="mt-3">
      <div class="col-12">
        <h2 class="products-title align-center">
          Perfil del usuario: <span class="first-upper"><%=user.name%></span>
        </h2>
      </div>
      <div class="card w-80 detail-user mt-3">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <!--perfil-->
            <button
              class="nav-link active"
              id="nav-perfil-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-perfil"
              type="button"
              role="tab"
              aria-controls="nav-perfil"
              aria-selected="true"
            >
              Datos
            </button>
            <!--Pedidos-->
            <button
              class="nav-link"
              id="nav-pedidos-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-pedidos"
              type="button"
              role="tab"
              aria-controls="nav-pedidos"
              aria-selected="false"
            >
              Compras
            </button>
            <!--Favoritos-->
            <button
              class="nav-link"
              id="nav-fav-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-fav"
              type="button"
              role="tab"
              aria-controls="nav-fav"
              aria-selected="false"
            >
              Favoritos
            </button>
            <!--Cupones-->
            <button
              class="nav-link"
              id="nav-cupones-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-cupones"
              type="button"
              role="tab"
              aria-controls="nav-cupones"
              aria-selected="false"
            >
              Cupones
            </button>
          </div>
        </nav>
        <!-- contenido de cada tab-->
        <div class="tab-content mt-3" id="nav-tabContent">
          <!-- DETALLE PERFIL-->
          <div
            class="tab-pane fade show active"
            id="nav-perfil"
            role="tabpanel"
            aria-labelledby="nav-perfil-tab"
            tabindex="0"
          >
            <div class="card mb-3 sin-borde">
              <div class="row g-0">
                <div class="col-md-4 align-center">
                  <img
                    src="<%=user.profilePic%>"
                    class="img-fluid rounded-start w-80"
                    alt="Imágen de perfil"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="row">
                      <p class="col-3">Usuario:</p>
                      <p class="col-9 first-upper">
                        <%= user.name%> <%= user.lastname %>
                      </p>
                    </div>
                    <div class="row">
                      <p class="col-3">Mail:</p>
                      <p class="col-9"><%= user.email %></p>
                    </div>
                    <div class="row">
                      <p class="col-3">Teléfono</p>
                      <p class="col-9"><%=user.phoneNumber%>%></p>
                    </div>
                    <% if (user.address ) { %>
                    <div class="row">
                      <p class="col-3">Dirección</p>
                      <p class="col-9"><%= user.address.address %></p>
                    </div>
                    <div class="row">
                      <p class="col-3">Ciudad</p>
                      <p class="col-9"><%= user.address.city %></p>
                    </div>
                    <div class="row">
                      <p class="col-3">Provincia</p>
                      <p class="col-9"><%= user.address.state %></p>
                    </div>
                    <div class="row">
                      <p class="col-3">País</p>
                      <p class="col-9"><%= user.address.country %></p>
                    </div>
                    <div class="row">
                      <p class="col-3">Código Postal</p>
                      <p class="col-9"><%= user.address.zipCode %></p>
                    </div>
                    <div class="row">
                      <p class="col-3">Rol de usuario</p>
                      <p class="col-9"><%=user.userRole.name%>%></p>
                    </div>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- DETALLE PEDIDOS-->
          <div
            class="tab-pane fade"
            id="nav-pedidos"
            role="tabpanel"
            aria-labelledby="nav-pedidos-tab"
            tabindex="0"
          >
            <div class="card sin-borde">
              <div class="card-body">
                <h5 class="card-title">
                  El usuario no tiene Compras registradas
                </h5>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-fav"
            role="tabpanel"
            aria-labelledby="nav-fav-tab"
            tabindex="0"
          >
            <div class="card sin-borde">
              <div class="card-body">
                <h5 class="card-title">
                  El usuario no tiene Productos Favoritos registrados
                </h5>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-cupones"
            role="tabpanel"
            aria-labelledby="nav-cupones-tab"
            tabindex="0"
          >
            <div class="card sin-borde">
              <div class="card-body">
                <h5 class="card-title">
                  El usuario no tiene Cupones registradas
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-80 detail-user">
        <div class="row">
          <div class="col-6 mt-3 flex-center pb-2">
            <button type="button" class="action-button edit w-80 mt-0 bg-gris">
              <a href="/users/edit/<%= user.id %>" class="font-white">
                EDITAR
              </a>
            </button>
          </div>
          <% if (locals.userLogged.userRole.name == 'admin') { %>
          <div class="col-6 mt-3 flex-center pb-2">
            <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
              <button
                type="submit"
                class="action-button delete w-80 mt-0 bg-orange2"
              >
                ELIMINAR
              </button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 font-50px text-align-r p-lateral-5">
          <a href="/users/" class="decoration-none">
            <i
              class="fas fa-arrow-circle-left font-pink"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Volver atras"
            ></i>
          </a>
        </div>
      </div>
    </main>
  </body>
  <footer><%- include('../partials/footer') %></footer>
</html>
