<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Editar los productos'}) %>
  </head>
  <body>
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
      <!-- se listan todos los productos-->
      <div class="container products-wrapper overflow-hidden">
        <!--row para titulo-->
        <div class="row">
          <div class="col-12">
            <h2 class="products-title align-center">
              Estas editando: <i> <%=productoEditar.name%> </i>
            </h2>
          </div>
          <form
            action="/products/<%=productoEditar.id%>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
            class="form-field"
            >
            <div class="row product-detail">
              <!--nombre-->
              <div class="col-12 mt-3">
                <label for="nombre" class="form-label"
                  >Nombre del producto:</label
                >
                <input
                  value="<%=productoEditar.name%>"
                  type="text"
                  id="name"
                  name="name"                  
                  class="form-control"
                />
                <span class="error"></span>
              </div>
              <!--precio-->
              <div class="col-sm-6 col-md-4 mt-3">
                <label for="price" class="form-label"
                  >Precio</label
                >
                <input
                  value="<%=productoEditar.price%>"
                  class="form-control"
                  id="price"
                  name="price"
                  placeholder="Precio al contado es de..."
                />
                <span class="error"></span>
              </div>
              <!--cuotas-->
              <div class="col-sm-6 col-md-4 mt-3">
                <label for="installmentId" class="form-label col-12"
                  >Cuotas: </label
                >
                <select name="installmentId" id="installmentId" class="form-select">
                  <option value=""> Seleccione</option>                  
                  <% vInstallments.forEach(vInstallment => {%>
                  <option value="<%=vInstallment.id%>" <% if(vInstallment.id==productoEditar.installmentId){%> selected <% } %> ><%=vInstallment.name%> </option>
                  <% })%>
                 </select>
                <span class="error"></span>
              </div>  
              <!--SALE-->
             <div class="col-sm-6 col-md-4 mt-3">
              <label for="sale" class="form-label">Oferta:</label>
              <input
                value="<%=productoEditar.sale%>"
                class="form-control"
                id="sale"
                name="sale"           
                placeholder="0.25"
              />
           
            </div>
              <!-- color -->
              <div class="col-sm-6 col-md-3 mt-3">
                <label for="color" class="form-label">Color:</label>
                <select name="colourId" id="colourId" class="form-select">
                  <option value=""> Seleccione</option>                  
                  <% vColours.forEach(vColour => {%>
                  <option value="<%=vColour.id%>" <% if(vColour.id==productoEditar.colourId){%> selected <% } %> ><%=vColour.name%> </option>
                  <% })%> 
                </select>      
                <span class="error"></span>
              </div>                       
              <!--categoria-->
              <div class="col-sm-6 col-md-3 mt-3">
                <label for="categoryId" class="form-label">Categoria:</label>                
                <select name="categoryId" id="categoryId" class="form-select">
                  <option value="">Seleccione</option>
                  <% vCategorys.forEach(vCategory => {%>
                    <option value="<%=vCategory.id%>" <% if(vCategory.id == productoEditar.categoryId){%> selected <% } %> ><%=vCategory.name%></option>
                  <% })%>
                </select>
                <span class="error"></span>
              </div>
              <!--estilos-->
              <div class="col-sm-6 col-md-3 mt-3">
                <label for="styleId" class="form-label">Estilo:</label>                
                <select name="styleId" id="styleId" class="form-select">
                  <option value="">Seleccione</option>
                  <% vStyles.forEach(vStyle => {%>
                    <option value="<%=vStyle.id%>" <% if(vStyle.id == productoEditar.styleId){%> selected <% } %> ><%=vStyle.name%></option>
                  <% })%>
                </select>
                <span class="error"></span>
              </div>              
              <!--marcas-->
              <div class="col-sm-6 col-md-3 mt-3">
                <label for="brandId" class="form-label">Marca:</label>                
                <select name="brandId" id="brandId" class="form-select">
                  <option value="">Seleccione</option>
                  <% vBrands.forEach(vBrand => {%>
                    <option value="<%=vBrand.id%>" <% if(vBrand.id == productoEditar.brandId){%> selected <% } %> ><%=vBrand.name%></option>
                  <% })%>
                </select>
                <span class="error"></span>
              </div>
            
               <!--ambientes-->
               <div class="col-12 col-md-6 mt-3">
                <label for="rooms" class="form-label col-12">Ambientes:</label>             
                <% vRooms.forEach(room => {%>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="<%=room.id%>" name="rooms" value="<%=room.id%>"  
                    <% if(productoEditar.Rooms.find(ele => ele.id==room.id)){%>checked<%}%>
                    >
                    <label class="form-check-label" for="<%=room.id%>"><%=room.name%></label>
                  
                  </div>
                  <% })%>    
                </br>  
                <span id="errorRoom" name="errorRoom" class="" style="color:red"></span>          
            </div>  
              <!--descripcion del producto-->
              <div class="col-12 col-md-6 mt-3">
                <label for="description" class="form-label"
                  >Descripcion:</label
                >
                <textarea 
                  class="form-control"
                  id="description"
                  name="description"
                ><%=productoEditar.description%></textarea>
                <span class="error"></span>
              </div>

              <div class="col-12 col-md-6 mt-3">
                <!--detalles del producto-->
                <label for="details" class="form-label"
                  >Detalles:<span class="font-red"> (Indicar los detalles separados por comas)</span></label
                >                
                <textarea
                  class="form-control"
                  name="details"
                  id="details"
                ><%=productoEditar.details%></textarea>
                <span class="error"></span>
              </div>
              <!--Información extra del producto-->
              <div class="col-12 col-md-6 mt-3">
                <label for="extraInfo" class="form-label">
                  Información extra del producto:<span class="font-red"> (Indicar la información extra separados por comas)</span></label>
                <textarea                  
                  type="text"
                  class="form-control"
                  name="extraInfo"
                  id="extraInfo"
                ><%=productoEditar.extraInfo%></textarea>
              </div>
              <!--medidas-->
              <div class="col-12 col-md-6 mt-3">
                <label for="measurements" class="form-label">Medidas:</label>
                <input
                  type="text"
                  value="<%=productoEditar.measurements%>"
                  class="form-control"
                  id="measurements"
                  name="measurements"
                  placeholder=""
                />
              </div>
               <!-- envio gratis -->
               <div class="col-12 col-md-6 mt-3">

                <label for="freeDelivery" class="form-label col-12"
                  >Envio gratis:</label
                >
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="freeDelivery" name="freeDelivery" <% if(productoEditar.freeDelivery){%> checked<%} %>>
                  
                </div>
              </div>
              <!-- imagen -->
              <div class="col-12 mt-3">
                <label for="image" class="form-label">Imagen:</label>
                <input
                  type="file"
                  class="form-control"
                  id="picture"
                  name="picture"
                  placeholder="Subir una nueva imagen"
                />
                <span class="error"></span>
              </div>
              <!--Boton SUBMIT -->
              <div class="align-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-lg product-btn"
                  >
                    Guardar producto
                  </button>
                
              </div>
            </div>
          
        </div>
        <!-- fin del row -->
      </div>
    </form>
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
    <script src="/js/editproducts-validation-front.js"></script>
  </body>
</html>
