<!DOCTYPE html>
<html lang = "en">
    <head>
        <!--HEAD -->
        <%- include('../partials/head') %>
    </head>
    <body>
        <!--HEADER -->
        <%- include('../partials/header') %>
        <main>
            <% users.forEach(user => {%>
                <article class="container row">
                    <div class= "col  border border-danger">
                        Nombre del usuario: <%= user.nombre %> <%= user.apelido %>
                    </div>
                    <div class= "col border border-danger">
                        Email: <%= user.email %> 
                    </div>
                    <div class= "col border border-danger">
                        Numero de telefono: <%= user.telefono %> 
                    </div>
                    <div class= "col border border-danger">
                        Recidencia: <%= user.direccion %> 
                    </div>
                </article>

            <!--
                   <form
                    action="/products/edit/%=productoEditar.id%>?_method=PUT"
                    method="POST"
                    enctype="multipart/form-data"
                    class="form-field"
                    >
            --> 

                    <button>
                        <a href="" >
                        Editar usuario
                        </a>
                    </button>
                <form action="" method="" enctype=""  >
                <button type="submit">
                    Eliminar
                </button>
                </form>

            <% }); %> 
        </main>

    </body>
    <footer>
        <!--FOOTER -->
    <%- include('../partials/footer') %>
    </footer>
</html>