<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head') %>
  </head>
  <body>
    <!--HEADER -->
    <%- include('../partials/header') %>
    <main>
      <div class="table-responsive mlr-5 mt-3 m-center">
        <div class="col-12">
          <h2 class="products-title align-center">Todos los usuarios</h2>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr class="align-center">
              <th scope="col">Usuario</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(user => {%>

            <tr class="text-align-c">
              <th scope="row" class="col-2">
                <a href="/users/<%=user.id %>"
                  ><%=user.name +' '+user.lastname%></a
                >
              </th>
              <td class="col-3"><%=user.email%></td>
              <td class="col-2"><%=user.phoneNumber%></td>
              <td class="col-3"><%=user.address%></td>
              <td class="col-3"><%=user.city%></td>
              <td class="col-3"><%=user.state%></td>
              <td class="col-3"><%=user.country%></td>
              <td class="col-3"><%=user.zipCode%></td>
              <td class="col-2">
                <a href="/users/<%=user.id %>">
                  <img
                    src="/images/usersProfiles/<%=user.profilePic%>"
                    class="card-img-top w-20"
                /></a>
                <!--<i class="fas fa-user-edit font-gris-claro font-xmedium"></i>
                    <i class="fas fa-trash-alt font-dark-grey font-xmedium"></i>-->
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
  <footer>
    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </footer>
</html>
