<!DOCTYPE html>
<html lang = "en">
    <head>
        <!--HEAD -->
        <%- include('../partials/head') %>
    </head>
    <body>
        <!--HEADER -->
        <%- include('../partials/header') %>
        <main>
            <% users.forEach(user => {%>
                <article class="container row m-5">
                    <div class= "col  border border-danger m-1">
                        <a 
                            href="/users/<%=user.id %>">
                            Nombre del usuario: <%= user.id %> <%= user.nombre %> <%= user.apellido %>
                            
                        </a>
                    </div>
                   
                    
                    <div class= "col border border-danger mt-1">
                        <a 
                            href="/users/<%= user.id %>">
                            Email: <%= user.email %>
                        </a> 
                    </div>
                    <div class= "col border border-danger m-1">
                        <a 
                            href="/users/<%= user.id %>">
                            Numero de telefono: <%= user.telefono %> 
                        </a>
                    </div>
                    <div class= "col border border-danger m-1">
                        <a 
                            href="/users/<%= user.id %>">
                            Recidencia: <%= user.direccion %>
                        </a> 
                    </div>
                </article>

                <button>
                    <a href="/users/edit/<%= user.id %>" >
                    Editar usuario
                    </a>
                </button>
                <form 
                    action="/users/delete/<%= user.id %>" 
                    method="POST">
                    <button type="submit">
                        Eliminar
                    </button>
                </form>

            <% }); %> 
        </main>

    </body>
    <footer>
        <!--FOOTER -->
    <%- include('../partials/footer') %>
    </footer>
</html>