<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head') %>
  </head>
  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main class="pt-5">
      <!--section para formulario-->
      <section
        class="container products-wrapper overflow-hidden form-register mt-1"
      >
        <form action="/users/register" method="POST" enctype="multipart/form-data" class="form-field">
          <div class="row mt-3">
            <!--input de nombre-->
            <div class="col-12 col-md-6">
              <label for="name" class="form-label col-12">Nombre</label>
              <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
              <!--en value si no hay errores, guarda el dato-->
              <input
                type="text"
                name="name"
                id="name" 
                class="form-control col-12 <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                value="<%=locals.oldData ? oldData.name : null%>"
              />
              <span class="error"></span>
              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                  <%= errors.name.msg %>
                </div>
                <% } %> 
            </div>
            <!--input de apellido-->            
            <div class="col-12 col-md-6">
              <label for="lastname" class="form-label">Apellido</label>
              <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
              <!--en value si no hay errores, guarda el dato-->           
              <input
                type="text"
                name="lastname"
                id="lastname"
                class="form-control <%= locals.errors && errors.lastname ? 'is-invalid' : null %>"
                value="<%=locals.oldData?oldData.lastname:null%>"
              />
              <span class="error"></span>
              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.lastname) { %>
                <div class="text-danger">
                  <%= errors.lastname.msg %>
                </div>
                <% } %> 
            </div>
            <!--input de mail-->                    
            <div class="col-12 col-md-6">
              <label for="email" class="form-label">E-mail</label>
              <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
              <!--en value si no hay errores, guarda el dato-->            
              <input
                type="email"
                name="email"
                id="email"
                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                placeholder="juanperez@mail.com"
                value="<%=locals.oldData ? oldData.email : null%>"
              />
              <span class="error"></span>
              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                  <%= errors.email.msg %>
                </div>
                <% } %> 
            </div>
            <!--input de telefono-->            
            <div class="col-12 col-md-6">
              <label for="tlf" class="form-label">Teléfono</label>
              <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
              <!--en value si no hay errores, guarda el dato-->
              <input
                type="tel"
                name="phoneNumber"
                id="phoneNumber"
                class="form-control <%=locals.errors && errors.phoneNumber ? 'is-invalid':null%>"
                placeholder="+54 9 11 74128653"
                value="<%= locals.oldData ? oldData.phoneNumber : null %>"
              />
              <span class="error"></span>
              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.phoneNumber) { %>
                <div class="text-danger">
                  <%= errors.phoneNumber.msg %>
                </div>
                <% } %> 
            </div>
            <!--input de dirección-->                        
            <div class="col-12">
              <label for="address" class="form-label">Dirección</label>
              <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
              <!--en value si no hay errores, guarda el dato-->
              <input
                type="text"
                name="address"
                id="address"
                class="form-control <%= locals.errors && errors.address ? 'is-invalid' : null %>"
                placeholder="Calle, altura (piso y departamento)"
                value="<%=locals.oldData ? oldData.address : null%>"
              />
              <span class="error"></span>
              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.address) { %>
                <div class="text-danger">
                  <%= errors.address.msg %>
                </div>
                <% } %> 
            </div>
            <div>
              <!--Input de ciudad-->
              <label for="city" class="form-label">Ciudad</label>
                <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
                <!--en value si no hay errores, guarda el dato-->
                <input
                  type="text"
                  name="city"
                  id="city"
                  class="form-control <%= locals.errors && errors.city ? 'is-invalid' : null %>"
                  placeholder="Ciudad/ Localidad"
                  value="<%=locals.oldData ? oldData.city : null %>"
                />
                <span class="error"></span>
                <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.city) { %>
                <div class="text-danger">
                  <%= errors.city.msg %>
                </div>
                <% } %> 
            </div>
            <div>
              <!--Input de provincia-->
              <label for="state" class="form-label">Provincia</label>
                <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
                <!--en value si no hay errores, guarda el dato-->
                <input
                  type="text"
                  name="state"
                  id="state"
                  class="form-control <%= locals.errors && errors.state ? 'is-invalid' : null %>"
                  placeholder="Provincia"
                  value="<%=locals.oldData ? oldData.state : null%>"
                />
                <span class="error"></span>
                <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.state) { %>
                <div class="text-danger">
                  <%= errors.state.msg %>
                </div>
                <% } %> 
            </div>
            <div>
              <!--Input de Pais-->
              <label for="country" class="form-label">País</label>
                <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
                <!--en value si no hay errores, guarda el dato-->
                <input
                  type="text"
                  name="country"
                  id="country"
                  class="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>"
                  placeholder="País"
                  value="<%=locals.oldData ? oldData.country : null%>"
                />
                <span class="error"></span>
                <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.country) { %>
                <div class="text-danger">
                  <%= errors.country.msg %>
                </div>
                <% } %> 
            </div>
            <div>
              <!--Input de còdigo postal-->
              <label for="zipCode" class="form-label">Còdigo Postal</label>
                <!--en class si hay errores, se habilita la clase is-invalid de bootstrap-->
                <!--en value si no hay errores, guarda el dato-->
                <input
                  type="text"
                  name="zipCode"
                  id="zipCode"
                  class="form-control <%= locals.errors && errors.zipCode ? 'is-invalid' : null %>"
                  placeholder="Código Postal"
                  value="<%=locals.oldData ? oldData.zipCode : null%>"
                />
                <span class="error"></span>
                <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.zipCode) { %>
                <div class="text-danger">
                  <%= errors.zipCode.msg %>
                </div>
                <% } %> 
            </div>
            <div class="col-12 col-md-6">
              <label for="pass" class="form-label">Contraseña</label>

              <div class = "flex-cont">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control <%=locals.errors && errors.password?'is-invalid':null%> <%= locals.errors && errors.password ? 'help is-danger' : null %>"
                placeholder="********"
              />
             
              <!--boton de mostrar contrasena-->  
              <div class=" w-10">
                <input
                  type="button"
                  name="button"
                  onclick="mostrar()"
                  class="form-control"
                  value= "Mostrar"
                  />
              </div>
              <span class="error"></span>
              </div>
              
              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                  <%= errors.password.msg %>
                </div>
                <% } %> 
            </div>
            <div class="col-12 col-md-6">
              <label for="password" class="form-label"
                >Confirma tu contraseña</label
              >

             <div class = "flex-cont">
              <input
                type="password"
                name="rpassword"
                id="rpassword"
                class="form-control <%= locals.errors && errors.rpassword ? 'is-invalid' : null %>"
                placeholder="********"
              />
              <!--boton de mostrar contrasena-->  
              <div class=" w-10">
                <input
                  type="button"
                  name="button"
                  onclick="ver()"
                  class="form-control"
                  value= "Mostrar"
                  />
              </div>
            </br>
              <span class="error"></span>
            </div>

              <!--si hay errores en la validacion, da el mensaje de error-->
              <% if (locals.errors && errors.rpassword) { %>
                <div class="text-danger">
                  <%= errors.rpassword.msg %>
                </div>
                <% } %> 
            </div>
            <div class="col-12 col-md-6">
              <label for="userRoleId" class="form-label"> Rol de usuario </label>
              <select class="form-select" name="userRoleId" id="userRoleId">
                <option value="">Seleccione</option>
                <% userRoles.forEach(userRole => {%>
                  <option value="<%=userRole.id%>"><%=userRole.name%></option>
                <% })%> 
              </select>
              <span class="error"></span>
            </div>
            <!-- envio de imagen de perfil / PROFILE--> 
            <div class="col-12 col-md-6">
              <label for="profile" class="form-label">Cargar imagen de perfil</label>
              <input class="form-control" type="file" id="profile" name="profilePic">
            </div>         
            </div>
            <div class="col-12 mt-3 align-center mt-5">
              <button type="submit" class="btn bg-pink btn-lg font-white reg">
                CREAR CUENTA
              </button>
            </div>            
          </div>
        </form>
        <div class="row mt-3">
          <div class="col-12 text-align-c">
            <label for="" class="form-label font-xlarge"
              >Ya tenés cuenta?</label
            >
            <a href="/users/login" class="font-xlarge font-bold">
              Inicia sesión</a
            >
          </div>
        </div>

        <div class="erroresFront">
          <ul></ul>
        </div>
        
        <!-- section envios-->
        <div class="col-12 text-align-c mt-5"> <i class="fas fa-truck font-xxlarge"></i></div>
        <div class="col-12 text-align-c"> ¡ENVIAMOS A TODO EL PAIS!</div>
        <div class="col-12 text-align-c pb-2"> <h3>Por Correo Argentino, OCA o transporte de tu preferencia</h3></div>
        
      </section>      
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
    <script src="/js/js-front.js"></script>
    <script src="/js/showpass.js"></script>
    <script src="/js/seepass.js"></script>



  </body>
</html>
