<!DOCTYPE html>
<html lang = "en">
    <!--    HEAD    -->
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>

        <!--    HEADER  -->
        <%- include('../partials/header') %>
        
        <main>
            <div class="card" style="width: 18rem;"> 
                <div class="card-body">
                    <h5 class="card-title"> <%= user.nombre%> <%= user.apellido %></h5>
                    <p class="card-text">
                        <%= user.email %> 
                    </p>
                    <p>
                        <%= user.direccion %>
                    </p>
                    <p>
                        <%= user.telefono%>
                    </p>
                    <img src="/images/usersProfiles/<%=locals.user.profile%>" class="card-img-top">
                </div>
            </div>
            

            <form action="" method="get">
                <button 
                    type="button" 
                    class="btn btn-secondary">
                    <a href="/users/edit/<%= user.id %>">
                    Editar
                </button>
                <button 
                    type="button" 
                    class="btn btn-secondary">
                    <a href="###">
                    Eliminar
                </button>
                
            </form>
        </main>

    </body>
    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</html>