<!DOCTYPE html>
<html lang = "en">
    <!--    HEAD    -->
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <!--    HEADER  -->
        <%- include('../partials/header') %>
        <main class="mt-3">
            <div class="col-12">
                <h2 class="products-title align-center">
                  Perfil del usuario: <%=user.nombre%> 
                </h2>
            </div>
            <div class="card text-center w-80 detail-user mt-3">
                <div class="card-header bg-wite">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Datos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pedidos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cupones</a>
                      </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title font-xlarge font-bold"> 
                    Usuario: <%= user.nombre%> <%= user.apellido %> </h5>
                    <div class="flex-cont">
                        <div class = "w-25">
                            <img src="/images/usersProfiles/<%=locals.user.profile%>" class="card-img-top w-100">
                        </div>
                        <div class = "w-100 p-2 ">
                            <p class="font-xlarge text-align-l">
                                Mail: <%= user.email %> 
                            </p>
                            <p class="font-xlarge text-align-l"> 
                                Domicilio: <%= user.direccion %>
                            </p>
                            <p class="font-xlarge text-align-l">
                                Telefono: <%= user.telefono%>
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                        
                <div class="col-6 mt-3 flex-center pb-2">
                        <button 
                            type="button" 
                            class="action-button edit w-80 mt-0 bg-gris">
                            <a href="/users/edit/<%= user.id %>" class="font-white">
                            EDITAR
                            </a>
                        </button>
                </div>
                <div class="col-6 mt-3 flex-center pb-2">
                    <form
                        action="/users/<%=user.id%>?_method=DELETE"
                        method="POST">
                        <button 
                                type="submit" 
                                class="action-button delete w-80 mt-0 bg-orange2">
                                ELIMINAR
                        </button>
                    </form>
                </div>
            </div>                                            
            <div class="row">
                <div class="col-12 font-50px text-align-r p-lateral-5 " >
                    <a href="/users/" class="decoration-none">
                        <i class="fas fa-arrow-circle-left font-pink"></i>
                    </a>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</html>