<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Editar los productos'}) %>
  </head>
  <body>
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
      <!-- se listan todos los productos-->
      <div class="container products-wrapper overflow-hidden">
        <!--row para titulo-->
        <div class="row">
          <!--Detalle de producto-->
          <div class="product-detail">
            <div class="row">
              <div class="col-12 col-lg-8">
                <img
                  src="<%=producto.picture%>"
                  alt="<%=producto.name%>"
                  class="product-detail-img"
                />
              </div>
              <div class="col-12 col-lg-4">
                <div class="row">
                  <div class="col-12 display-6 align-center">
                    <%= producto.name%>
                  </div>
                  <div class="col-12 display-6 align-center">
                    $<%= new Intl.NumberFormat('de-DE').format(producto.price)%>
                  </div>
                  <div class="col-12 display-6 align-center font-red">
                    <%= (producto.sale*100)%> % OFF!
                  </div>
                  <div class="col-12"><%= producto.description%></div>
                  <div class="col-12 font-black"><hr class="hr-detail" /></div>
                  <!--agregarle las viñetas-->
                  <div class="col-4">Categoria</div>
                  <div class="col-8"><%= producto.Category.name%></div>
                  <div class="col-4">Estilo</div>
                  <div class="col-8"><%= producto.Style.name%></div>
                  <!--ambientes-->
                  <div class="col-4">Ambientes</div>
                  <div class="col-8">
                    <% if(typeof(producto.Rooms)!=='undefined' &&
                    producto.Rooms.length>0) { producto.Rooms.forEach(room=>{ %>
                    <span><%=room.name%> </span>
                    <% }) } %>
                  </div>
                  <!--medidas-->
                  <div class="col-4">Medidas</div>
                  <div class="col-8"><%= producto.measurements%></div>
                  <!--detalles-->
                  <div class="col-12 font-black"><hr class="hr-detail" /></div>
                  <div class="col-4">Caracteristicas</div>
                  <div class="col-8">
                    <% producto.details.split(',').forEach(detail =>{ %>
                    <li><%=detail%></li>
                    <% }) %>
                  </div>
                  <div class="col-12 mt-3">
                    <label for="cantidad" class="font-bold">Cantidad</label>
                    <input
                      type="number"
                      min="0"
                      max="10"
                      id="cantidad"
                      name="cantidad"
                      class="form-control"
                    />
                  </div>
                  <div class="col-12 mt-3">
                    <button
                      type="submit"
                      class="btn btn-outline-primary btn-lg product-btn w-100"
                    >
                      AGREGAR AL CARRITO
                    </button>
                  </div>
                  
                  <% if (locals.userLogged.userRole.name == 'seller') { %>

                  <div class="col-6 mt-3">
                    <a
                      href="/products/edit/<%= producto.id %>"
                      class="action-button edit w-100"
                      >EDITAR
                    </a>
                  </div>
                  <div class="col-6 mt-3">
                    <form
                      action="/products/<%=producto.id%>?_method=DELETE"
                      method="POST"
                    >
                      <button type="submit" class="action-button delete w-100">
                        ELIMINAR
                      </button>
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fin del row -->
      </div>
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
