<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Crear un producto'}) %>
  </head>
  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>
    <main class="container products-wrapper">
      <div class="row text-align-c">
        <div class="col-12">
          <h2 class="products-title">Creación de productos</h2>
        </div>
      </div>
      <div class="col-12 mt-3">
        <form action="/products" method="POST" enctype="multipart/form-data">
          <div class="row product-detail pb-5">
            <!--nombre-->
            <div class="col-12 mt-3">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control <%=locals.errors && errors.name ? "is-invalid":null%>"
                placeholder=""
                value="<%= locals.oldData ? oldData.name : null %>"
              />
              <% if (locals.errors && errors.name) { %>
                <div class="text-danger"><%= errors.name.msg %></div>
                <% } %>
            </div>
            <!--precio-->
            <div class="col-4 mt-3">
              <label for="price" class="form-label">Precio:</label>
              <input
                type="text"
                name="price"
                id="price"
                class="form-control <%=locals.errors && errors.price ? "is-invalid": null%>"
                placeholder=""
                value="<%= locals.oldData ? oldData.price : null %>"
                />
              <% if (locals.errors && errors.price) { %>
                <div class="text-danger"><%= errors.price.msg %></div>
                <% } %>
            </div>
             <!--cuotas-->
             <div class="col-4 mt-3">
                <label for="installmentId" 
                class="form-label"
                >Cuotas:</label>
                <select 
                  name="installmentId" 
                  id="installmentId" 
                  class="form-select <%=locals.errors && errors.installmentId ? "is-invalid": null%>"
                  >
                  <option value=""> Seleccione </option>

                  <% vInstallments.forEach(installment => {%>
                  <option 
                    value="<%=installment.id%>"
                           <%=locals.oldData && (installment.id === oldData.installmentId) ? "selected": null%>
                    >
                    <%=installment.name%></option>
                  <% })%>
                </select>
                <% if (locals.errors && errors.installmentId) { %>
                  <div class="text-danger"><%= errors.installmentId.msg %></div>
                  <% } %>
             </div>
             <!--color-->
             <div class="col-4 mt-3">
                <label for="colorId" class="form-label">Color:</label>
                <select 
                  name="colourId" 
                  id="colourId" 
                  class="form-select <%=locals.errors && errors.colourId ? "is-invalid": null%>"
                  >
                  <option value=""> Seleccione </option>
                  <% vColours.forEach(colour => {%>
                  <option 
                    value="<%=colour.id%>"
                    <%=locals.oldData && (colour.id === oldData.colourId) ? "selected": null%>
                    >
                    <%=colour.name%> </option>
                  <% })%>
                </select>
                <% if (locals.errors && errors.colorId) { %>
                  <div class="text-danger"><%= errors.colorId.msg %></div>
                  <% } %>
              </div>
            <!--categoria-->
            <div class="col-12 col-md-4 mt-3">
              <label for="categoryId" class="form-label">Categoría:</label>
              <select 
                name="categoryId" 
                id="categoryId" 
                class="form-select <%=locals.errors && errors.categoryId ? "is-invalid": null%>"
                >
                <option value="">Seleccione</option>
                <% vCategorys.forEach(category => {%>
                <option 
                value="<%=category.id%>"
                <%=locals.oldData && (category.id === oldData.categoryId) ? "selected": null%>
                >
                <%=category.name%></option>
                <% })%>
              </select>
              <% if (locals.errors && errors.categoryId) { %>
                <div class="text-danger"><%= errors.categoryId.msg %></div>
                <% } %>
            </div>
            <!--estilos-->
            <div class="col-12 col-md-4 mt-3">
              <label for="styleId" class="form-label col-12">Estilo:</label>
              <select 
               class="form-select <%=locals.errors && errors.styleId ? "is-invalid": null%>"
               name="styleId" 
               id="styleId">

                <option value="">Seleccione</option>
                <% vStyles.forEach(style => {%>
                  <option 
                  value="<%=style.id%>"
                        <%=locals.oldData && (style.id === oldData.styleId) ? "selected": null%>
                  >
                  <%=style.name%></option>
                <% })%> 
              </select>
              <% if (locals.errors && errors.styleId) { %>
                <div class="text-danger"><%= errors.styleId.msg %></div>
                <% } %>
            </div>
            <!--marca-->
            <div class="col-12 col-md-4 mt-3">
              <label for="brandId" class="form-label col-12">Marca:</label>
              <select 
              class="form-select <%=locals.errors && errors.brandId ? "is-invalid": null%>"
              name="brandId" 
              id="brandId">
                <option value="">Seleccione</option>
                <% vBrands.forEach(brand => {%>
                  <option 
                  value="<%=brand.id%>"
                  <%=locals.oldData && (brand.id === oldData.brandId) ? "selected": null%>
                  ><%=brand.name%></option>
                <% })%> 
              </select>
              <% if (locals.errors && errors.brandId) { %>
                <div class="text-danger"><%= errors.brandId.msg %></div>
                <% } %>
            </div>
            <!--ambientes-->
            <div class="col-12 col-md-6 mt-3">
              <label for="rooms" class="form-label col-12">Ambientes:</label>
              <div>             
              <% vRooms.forEach(room =>{%>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="<%=room.id%>" name="rooms" value="<%=room.id%>">
                    <label class="form-check-label" for="<%=room.id%>"
                      <%=locals.oldData && (room.id === oldData.room) ? "checkboxed": null%>>
                      <%=room.name%></label>
                  </div>
                  <% })%>             
              </div>   
                <%if(locals.errors && errors.rooms) {%>
                  <div class="text-danger"><%=errors.rooms.msg %></div>
                <%}%>  
            </div>            
            <!--descripcion del producto OBLIGATORIO-->
            <div class="col-12 col-md-6 mt-3">
                <label 
                  for="description" 
                  class="form-label col-12">Descripción</label>
                <textarea         
                  id="description" 
                  name="description"
                  rows="3"
                  class="form-control <%=locals.errors&&errors.description ? "is-invalid":null%>" 
                  value="<%=locals.oldData ? oldData.name:null%>">
                </textarea>            
                  <%if(locals.errors && errors.description){%>
                    <div class="text-danger"><%=errors.description.msg%></div>
                  <%}%>   
            </div>
            <!--detalles del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="details" class="form-label col-12">Detalles <span class="f-style-oblique"> (Indicar los detalles separados por comas)</span></label>
              <textarea class="form-control" 
                id="details" 
                name="details" 
                rows="3"
                value="<%=locals.oldData ? oldData.details : null %>">
              </textarea>
            </div>
            <!--Información extra del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="extraInfo" class="form-label">Información extra del producto<span class="f-style-oblique"> (Indicar la información extra separados por comas)</span></label>
              <textarea class="form-control" 
                id="extraInfo" 
                name="extraInfo" 
                rows="3"
                value="<%= locals.oldData ? oldData.extraInfo : null %>">
              </textarea>            
            </div>          
            <!--medidas-->
            <div class="col-12 col-md-6 mt-3">
              <label for="measurements" class="form-label">Medidas:</label>
              <input
                type="text"
                name="measurements"
                id="measurements"
                class="form-control"
                placeholder=""
                value="<%=locals.oldData ? oldData.measurements: " " %>"
              />
            </div>
            <!-- envio gratis -->
            <div class="col-12 col-md-6 mt-3">
              <label for="freeDelivery" class="form-label">Envio gratis:</label>
              <div class="form-check form-switch">
                  <input 
                  class="form-check-input" 
                  type="checkbox" 
                  id="freeDelivery" 
                  name="freeDelivery"
                  >
                  <label for="freeDelivery" class="form-label">SI</label>
              </div>
             </div>
            <!--la imagen del producto-->
            <div class="col-12 mt-3">
              <!-- Imagen -->
              <label for="formFile" class="form-label">Imagen del Producto</label>
              <input class="form-control <%=locals.errors && errors.categoryId ? "is-invalid": null%>" type="file" id="picture" name="picture" value="<%=locals.errors && errors.picture ? "is-invalid":null%>">
              <%if(locals.errors && errors.picture){%>
                <div class="text-danger"><%=errors.picture.msg%></div>
              <%}%>  
            </div>
                    
            <div class="col-12 mt-3 text-align-c">
              <button type="submit" class="btn bg-pink btn-lg font-white reg">
                REGISTRAR
              </button>
            </div>
        </form>
      </div>
    </main>
    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
