<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Editar los productos'}) %>
  </head>
  <body>
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
      <!-- se listan todos los productos-->
      <div class="container products-wrapper overflow-hidden">
        <!--row para titulo-->
        <div class="row">
          <div class="col-12">
            <h2 class="products-title align-center">
              Estas editando: <i> <%=productoEditar.nombre%> </i>
            </h2>
          </div>
          <form
            action="/products/<%=productoEditar.id%>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
            class="form-field"
            >
            <div class="row product-detail">
              <!--nombre-->
              <div class="col-12 mt-3">
                <label for="nombre" class="form-label"
                  >Nombre del producto:</label
                >
                <input
                  value="<%=productoEditar.nombre%>"
                  type="text"
                  id="nombre"
                  name="nombre"                  
                  class="form-control"
                />
              </div>
              <!--precio-->
              <div class="col-4 mt-3">
                <label for="precioContado" class="form-label"
                  >Precio al contado:</label
                >
                <input
                  value="<%=productoEditar.precioContado%>"
                  class="form-control"
                  id="precioContado"
                  name="precioContado"
                  placeholder="Precio al contado es de..."
                />
              </div>
              <!--cuotas-->
              <div class="col-4 mt-3">
                <label for="cantidadDeCuotas" class="form-label col-12"
                  >Cantidad de cuotas: </label
                >
                <select name="cantidadDeCuotas" id="cantidadDeCuotas" class="form-select">
                  <option value=""> Seleccione</option>                  
                  <% cuotas.forEach(cuota => {%>
                  <option value="<%=cuota.id%>" <% if(cuota.id==productoEditar.cantidadDeCuotas){%> selected <% } %> ><%=cuota.nombre%> </option>
                  <% })%>
                  
                </select>
              </div>
              <!-- precio cuota-->
              <div class="col-4 mt-3">

                <label for="precioCuotas" class="form-label"
                  >Precio por cada cuotas:</label
                >
                <input
                  value="<%=productoEditar.precioCuota%>"
                  class="form-control"
                  id="precioCuota"
                  name="precioCuota"
                />
              </div>
              <!--categoria-->
              <div class="col-12 col-md-6 mt-3">

                <label for="categoria" class="form-label"
                  >Categorias de productos </label
                >                
                <select name="categoria" id="categoria" class="form-select">
                  <option value="">Seleccione</option>
                  <% categorias.forEach(categoria => {%>
                    <option value="<%=categoria.id%>" <% if(categoria.id == productoEditar.categoria){%> selected <% } %> ><%=categoria.nombre%></option>
                  <% })%>
                </select>
              </div>
              <!--ambientes-->
              <div class="col-12 col-md-6 mt-3">
                <label for="name" class="form-label col-12">Ambientes:</label> 
                <% ambientes.forEach(ambiente => {%>              
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="<%=ambiente.id%>" name="ambientes" value="<%=ambiente.id%>" <% if(productoEditar.ambiente.find(ele => ele==ambiente.id)){%> checked<%} %>>
                    <label class="form-check-label" for="<%=ambiente.id%>"><%=ambiente.nombre%></label>
                  </div>
                <% })%>                   

              </div>
                <!--estilos-->
              <div class="col-12 col-md-6 mt-3">

                <label for="estilo" class="form-label col-12"
                  >Estilos:</label
                >
                <select class="form-select" multiple aria-label="multiple select example" name="estilos" id="estilos">
                  <% estilos.forEach(estilo => {%>
                    <option value="<%=estilo.id%>" <%if(productoEditar.estilo==estilo.id){%> selected<%} %>><%=estilo.nombre%></option>
                  <% })%> 
                </select>                
              </div>
              <!--descripcion del producto-->
              <div class="col-12 col-md-6 mt-3">
                <label for="descripcion" class="form-label"
                  >Descripcion:</label
                >
                <input 
                  value="<%=productoEditar.descripcion%>"
                  type="text"
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                  placeholder=""
                />
              </div>
              <div class="col-12 col-md-6 mt-3">
                <!--detalles del producto-->
                <label for="detalles" class="form-label"
                  >Detalles:<span class="font-red"> (Indicar los detalles separados por comas)</span></label
                >                
                <textarea
                  type="text"
                  class="form-control"
                  name="detalles"
                  id="detalles"
                ><%=productoEditar.detalles.join(',')%></textarea>
              </div>
              <!--Información extra del producto-->
              <div class="col-12 col-md-6 mt-3">
                <label for="infoExtra" class="form-label">
                  Información extra del producto:<span class="font-red"> (Indicar la información extra separados por comas)</span></label
                >
                <textarea                  
                  type="text"
                  class="form-control"
                  name="infoExtra"
                  id="infoExtra"
                ><%=productoEditar.infoExtra.join(',')%></textarea>
              </div>
              <!--medidas-->
              <div class="col-12 col-md-6 mt-3">
                <label for="medidas" class="form-label">Medidas:</label>
                <input
                  type="text"
                  value="<%=productoEditar.medidas%>"
                  class="form-control"
                  id="medidas"
                  name="medidas"
                  placeholder=""
                />
              </div>
              <!-- color -->
              <div class="col-12 col-md-6 mt-3">
                <label for="color" class="form-label">Color:</label>
                <input
                  value="<%=productoEditar.color%>"
                  type="text"
                  class="form-control"
                  id="color"
                  name="color"
                  placeholder=""
                />
              </div>
              <!-- envio gratis -->
              <div class="col-12 col-md-6">

                <label for="envioGratis" class="form-label col-12"
                  >Envio gratis:</label
                >
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="envioGratis" name="envioGratis" <% if(productoEditar.envioGratis){%> checked<%} %>>
                  
                </div>
              </div>

              <!-- imagen -->
              <div class="col-12 mt-3">
                <label for="image" class="form-label">Imagen:</label>
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  name="image"
                  placeholder="Subir una nueva imagen"
                />
              </div>
              <!-- Texto alternativo de la imagen -->
              <div class="col-12 col-md-6 mt-3">
                <label for="alt" class="form-label">Alternativo:</label>
                <input
                  value="<%=productoEditar.alt%>"
                  class="form-control"
                  id="alt"
                  name="alt"
                  placeholder=""
                />
              </div>
              <!--Boton SUBMIT -->
              <div class="align-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-lg product-btn"
                  >
                    Guardar producto
                  </button>
                
              </div>
            </div>
          
        </div>
        <!-- fin del row -->
      </div>
    </form>
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
