<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Crear un producto'}) %>
  </head>
  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>
    <main class="container products-wrapper">
      <div class="row text-align-c">
        <div class="col-12">
          <h2 class="products-title">Creación de productos</h2>
        </div>
      </div>
      <div class="col-12 mt-3">
        <form action="/products" method="POST" enctype="multipart/form-data">
          <div class="row product-detail pb-5">
            <!--nombre-->
            <div class="col-12 mt-3">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder=""
              />
            </div>
            <!--precio-->
            <div class="col-4 mt-3">
              <label for="price" class="form-label">Precio:</label>
              <input
                type="text"
                name="price"
                id="price"
                class="form-control"
                placeholder=""
              />
            </div>
             <!--cuotas-->
             <div class="col-4 mt-3">
              <label for="installmentId" class="form-label">Cuotas:</label>
              <select name="installmentId" id="installmentId" class="form-select">
                <option value=""> Seleccione </option>
                <% vInstallments.forEach(installment => {%>
                <option value="<%=installment.id%>"><%=installment.name%> </option>
                <% })%>
              </select>
            </div>
             <!--SALE-->
             <div class="col-4 mt-3">
              <label for="sale" class="form-label">Oferta:</label>
              <input
                type="number"
                name="sale"
                id="sale"
                class="form-control"
                placeholder="0.25"
              />
            </div>
             <!--color-->
             <div class="col-3 mt-3">
              <label for="colorId" class="form-label">Color:</label>
              <select name="colourId" id="colourId" class="form-select">
                <option value=""> Seleccione </option>
                <% vColours.forEach(colour => {%>
                <option value="<%=colour.id%>"><%=colour.name%> </option>
                <% })%>
              </select>
            </div>
            <!--categoria-->
            <div class="col-3 mt-3">
              <label for="categoryId" class="form-label">Categoría:</label>
              <select name="categoryId" id="categoryId" class="form-select">
                <option value="">Seleccione</option>
                <% vCategorys.forEach(category => {%>
                <option value="<%=category.id%>"><%=category.name%></option>
                <% })%>
              </select>
            </div>
            <!--estilos-->
            <div class="col-3 mt-3">
              <label for="styleId" class="form-label col-12">Estilo:</label>
              <select class="form-select" name="styleId" id="styleId">
                <option value="">Seleccione</option>
                <% vStyles.forEach(style => {%>
                  <option value="<%=style.id%>"><%=style.name%></option>
                <% })%> 
              </select>
            </div>
            <!--marca-->
            <div class="col-3  mt-3">
              <label for="brandId" class="form-label col-12">Marca:</label>
              <select class="form-select" name="brandId" id="brandId">
                <option value="">Seleccione</option>
                <% vBrands.forEach(brand => {%>
                  <option value="<%=brand.id%>"><%=brand.name%></option>
                <% })%> 
              </select>
            </div>
            <!--ambientes-->
            <div class="col-12 col-md-6 mt-3">
              <label for="rooms" class="form-label col-12">Ambientes:</label>             
              <% vRooms.forEach(room => {%>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="<%=room.id%>" name="rooms" value="<%=room.id%>">
                  <label class="form-check-label" for="<%=room.id%>"><%=room.name%></label>
                </div>
                <% })%>             
            </div>            
            <!--descripcion del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="description" class="form-label col-12">Descripción</label>
              <textarea class="form-control" id="description" name="description" rows="3"></textarea>            
            </div>
            <!--detalles del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="details" class="form-label col-12">Detalles <span class="font-red"> (Indicar los detalles separados por comas)</span></label>
              <textarea class="form-control" id="details" name="details" rows="3"></textarea>            
            </div>
            <!--Información extra del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="extraInfo" class="form-label">Información extra del producto<span class="font-red"> (Indicar la información extra separados por comas)</span></label>
              <textarea class="form-control" id="extraInfo" name="extraInfo" rows="3"></textarea>            
            </div>          
            <!--medidas-->
            <div class="col-12 col-md-6 mt-3">
              <label for="measurements" class="form-label">Medidas:</label>
              <input
                type="text"
                name="measurements"
                id="measurements"
                class="form-control"
                placeholder=""
              />
            </div>
            <!-- envio gratis -->
            <div class="col-12 col-md-6 mt-3">
              <label for="freeDelivery" class="form-label">Envio gratis:</label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="freeDelivery" name="freeDelivery">
                
              </div>
            </div>
            <!--la imagen del producto-->
            <div class="col-12 mt-3">
              <!-- Imagen -->
              <label for="formFile" class="form-label">Imagen</label>
              <input class="form-control" type="file" id="picture" name="picture">
            </div>
                    
            <div class="col-12 mt-3 text-align-c">
              <button type="submit" class="btn bg-pink btn-lg font-white reg">
                REGISTRAR
              </button>
            </div>
        </form>
      </div>
    </main>
    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
