<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Editar los productos'}) %>
  </head>
  <body>
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
      <!-- se listan todos los productos-->
      <div class="container products-wrapper overflow-hidden">
        <!--row para titulo-->
        <div class="row">
          <div class="col-12">
            <h2 class="products-title align-center">
              Estas editando: <i> <%= productoEditar.nombre%> </i>
            </h2>
          </div>
          <form
            action="/products/edit/<%= productoEditar.id %>?_method=PUT "
            method="POST"
            class="form-field"
          >
            <div class="row product-detail">
              <!--nombre-->
              <div class="col-12 col-md-6">
                <label for="nombre" class="form-label"
                  >Nombre del producto:</label
                >
                <input
                  value="<%=productoEditar.nombre%> "
                  type="text"
                  id="nombre"
                  name="nombre"
                  placeholder="Ej: Mueble nordico"
                  class="form-control"
                />
              </div>

              <div class="col-12 col-md-6">
                <!--categoria-->
                <label for="categoria" class="form-label"
                  >Categorias de productos</label
                >
                <input
                  value="<%=productoEditar.categoria%>"
                  class="form-control"
                  list="opciones"
                  id="categoria"
                  placeholder="Escribe para buscar..."
                />
                <datalist id="opciones">
                  <option value="muebles">  </option>
                  <option value="textiles">  </option>
                  <option value="vajilla">  </option>
                  <option value="accesorios">  </option>
                  <option value="iluminacion"> </option>
                  <option value="otros">  </option>
                </datalist>
              </div>
              <div class="col-12 col-md-6">
                <!--ambientes-->
                <label for="name" class="form-label">Ambiente:</label>
                <input
                  value="<%=productoEditar.ambiente%>"
                  class="form-control"
                  list="opciones"
                  id="ambiente"
                  placeholder="Escribe para el tipo de ambiente del que trata"
                />
                <datalist id="opciones">
                  <option value="cocina">  </option>
                  <option value="living">  </option>
                  <option value="dormitorio">  </option>
                  <option value="comedor">  </option>
                  <option value="estudio"> </option>
                  <option value="infantil">  </option>
                  <option value="baño">  </option>
                  <option value="playroom">  </option>
                  <option value="exteriores">  </option>
                  <option value="otros">  </option>
                </datalist>
              </div>
              <div class="col-12 col-md-6">
                <!--estilos-->
                <label for="estilo" class="form-label"
                  >Estilo:</label
                >
                <input
                  value="<%=productoEditar.estilo%>"
                  class="form-control"
                  list="opciones"
                  id="estilo"
                  placeholder="Escribe para buscar..."
                />
                <datalist id="opciones">
                  <option value="industrial">  </option>
                  <option value="nordico">  </option>
                  <option value="minimalista">  </option>
                  <option value="mid-century-modern">  </option>
                  <option value="boho-chic"> </option>
                  <option value="otros">  </option>
                </datalist>
              </div>
              <div class="col-12 col-md-6">
                <!--precio-->
                <label for="precioContado" class="form-label"
                  >Precio al contado:</label
                >
                <input
                  value="<%=productoEditar.precioContado%>"
                  class="form-control"
                  id="precioContado"
                  placeholder="Precio al contado es de..."
                />
              </div>
              <div class="col-12 col-md-6">
                 <!--cuotas-->
                <label for="cantidadDeCuotas" class="form-label"
                  >Cantidad de cuotas:</label
                >
                <input
                  value="<%=productoEditar.cantidadDeCuotas%>"
                  class="form-control"
                  id="cantidadDeCuotas"
                  list="opcionescuotas"
                  placeholder="Escribe para buscar..."
                />
                <datalist id="opcionescuotas">
                  <option value="1"></option>
                  <option value="3"></option>
                  <option value="6"></option>
                  <option value="12"></option>
                </datalist>
              </div>
              <div class="col-12 col-md-6">
                <!-- precio cuota-->
                <label for="precioCuotas" class="form-label"
                  >Precio por cada cuotas:</label
                >
                <input
                  value="<%=productoEditar.precioCuotas%>"
                  class="form-control"
                  id="precioCuotas"
                />
              </div>
              <div class="col-12 col-md-6">
                <!-- envio gratis -->
                <label for="envioGratis" class="form-label"
                  >Envio gratis:</label
                >
                <input
                  value="<%=productoEditar.envioGratis%>"
                  class="form-control"
                  id="envioGratis"
                  placeholder="Tipo de envio"
                />
              </div>
              <div class="col-12 col-md-6">
                <label for="alt" class="form-label">Alternativo:</label>
                <input
                  value="<%=productoEditar.alt%>"
                  class="form-control"
                  id="alt"
                  placeholder=""
                />
              </div>
              <div class="col-12 col-md-6">
                 <!--descripcion del producto-->
                <label for="descripcion" class="form-label"
                  >Descripcion:</label
                >
                <input
                  value="<%=productoEditar.descripcion%>"
                  class="form-control"
                  id="descripcion"
                  placeholder=""
                />
              </div>
              <div class="col-12 col-md-6">
                <!--medidas-->
                <label for="medidas" class="form-label">Medidas:</label>
                <input
                  value="<%=productoEditar.medidas%>"
                  class="form-control"
                  id="medidas"
                  placeholder="Medidas"
                />
              </div>
              <div class="col-12 col-md-6">
                <!-- color -->
                <label for="color" class="form-label">Color:</label>
                <input
                  value="<%=productoEditar.color%>"
                  class="form-control"
                  id="color"
                  placeholder="Escribe para buscar..."
                />
              </div>
              <div class="col-12 col-md-6">
                <!--detalles del producto-->
                <label for="detalles" class="form-label"
                  >Detalles del producto:</label
                >
                <textarea
                  value="<%=productoEditar.detalles%>"
                  class="form-control"
                  name="detalles"
                  id="detalles"
                ></textarea>
              </div>
              <div class="col-12 col-md-6">
                <label for="infoExtra" class="form-label">
                  Información extra sobre el producto:</label
                >
                <textarea
                  value="<%=productoEditar.infoExtra%>"
                  class="form-control"
                  name="infoExtra"
                  id="infoExtra"
                ></textarea>
              </div>
              <div class="align-center mt-3">
                <form
                  class="btn-outline-primary"
                  action="/products"
                  method="GET"
                >
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-lg product-btn"
                  >
                    Guardar producto
                  </button>
                </form>
              </div>
            </div>
          </form>
        </div>
        <!-- fin del row -->
      </div>
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
