<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Editar los productos'}) %>
  </head>
  <body>
    <!--HEADER -->
    <%- include('../partials/header') %>

    <!--MAIN -->
    <main>
      <!-- se listan todos los productos-->
      <div class="container products-wrapper overflow-hidden">
        <!--row para titulo-->
        <div class="row">
          <div class="col-12">
            <h2 class="products-title align-center">
              Estas editando: <i> <%=productoEditar.nombre%> </i>
            </h2>
          </div>
          <form
            action="/products/<%=productoEditar.id%>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
            class="form-field"
            >
            <div class="row product-detail">
              <!--nombre-->
              <div class="col-12 col-md-6">
                <label for="nombre" class="form-label"
                  >Nombre del producto:</label
                >
                <input
                  value="<%=productoEditar.nombre%>"
                  type="text"
                  id="nombre"
                  name="nombre"                  
                  class="form-control"
                />
              </div>
              <!--categoria-->
              <div class="col-12 col-md-6">

                <label for="categoria" class="form-label"
                  >Categorias de productos</label
                >                
                <select name="categoria" id="categoria" class="form-select">
                  <option value="">Seleccione</option>
                  <option value="muebles" <% if(productoEditar.categoria=="muebles"){%> selected <%}%>>Muebles</option>
                  <option value="textiles" <% if(productoEditar.categoria=="textiles"){%> selected <%}%>>Textiles</option>
                  <option value="vajilla" <% if(productoEditar.categoria=="vajilla"){%> selected <%}%>>Vajilla</option>
                  <option value="accesorios" <% if(productoEditar.categoria=="accesorios"){%> selected <%}%>>Accesorios</option>
                  <option value="iluminacion" <% if(productoEditar.categoria=="iluminacion"){%> selected <%}%>>Iluminación</option>
                  <option value="otros" <% if(productoEditar.categoria=="otros"){%> selected <%}%>>Otros</option>
                </select>
              </div>
              <!--ambientes-->
              <div class="col-12 col-md-6">
                <label for="name" class="form-label col-12">Ambientes:</label>               
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="cocina" name="cocina" value="cocina" <% if(productoEditar.ambiente.find(ele => ele=="cocina")){%> checked<%} %>>
                  <label class="form-check-label" for="cocina">Cocina</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="living" name="living" value="living" <% if(productoEditar.ambiente.find(ele => ele=="living")){%> checked<%} %>>
                  <label class="form-check-label" for="living">Living</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="dormitorio"  name="dormitorio" value="dormitorio" <% if(productoEditar.ambiente.find(ele => ele=="dormitorio")){%> checked<%} %>>
                  <label class="form-check-label" for="dormitorio">Dormitorio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="comedor" name="comedor"  value="comedor" <% if(productoEditar.ambiente.find(ele => ele=="comedor")){%> checked<%} %>>
                  <label class="form-check-label" for="comedor">Comedor</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="estudio" name="estudio" value="estudio" <% if(productoEditar.ambiente.find(ele => ele=="estudio")){%> checked<%} %>>
                  <label class="form-check-label" for="estudio">Estudio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="infantil" name="infantil" value="infantil" <% if(productoEditar.ambiente.find(ele => ele=="infantil")){%> checked<%} %>>
                  <label class="form-check-label" for="infantil">Infantil</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="banios" name="banios" value="banios" <% if(productoEditar.ambiente.find(ele => ele=="banios")){%> checked<%} %>>
                  <label class="form-check-label" for="banios">Baños</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="playroom" name="playroom" value="playroom" <% if(productoEditar.ambiente.find(ele => ele=="playroom")){%> checked<%} %>>
                  <label class="form-check-label" for="playroom">Playroom</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="exteriores" name="exteriores" value="exteriores" <% if(productoEditar.ambiente.find(ele => ele=="exteriores")){%> checked<%} %>>
                  <label class="form-check-label" for="exteriores">Exteriores</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="otros" name="otros" value="otros" <% if(productoEditar.ambiente.find(ele => ele=="otros")){%> checked<%} %>>
                  <label class="form-check-label" for="otros">Otros</label>
                </div>               

              </div>
                <!--estilos-->
              <div class="col-12 col-md-6">

                <label for="estilo" class="form-label col-12"
                  >Estilos:</label
                >
                <select class="form-select" multiple aria-label="multiple select example" name="estilos" id="estilos">
                  <option value="industrial" <%if(productoEditar.estilo=="industrial"){%> selected<%} %>>Industrial</option>
                  <option value="nordico" <%if(productoEditar.estilo=="nordico"){%> selected<%} %>>Nórdico </option>
                  <option value="minimalista" <%if(productoEditar.estilo=="minimalista"){%> selected<%} %>>Minimalista</option>
                  <option value="century" <%if(productoEditar.estilo=="century"){%> selected<%} %>>Mid Century Modern</option>
                  <option value="boho" <%if(productoEditar.estilo=="boho"){%> selected<%} %> >Boho Chic </option>
                  <option value="otros" <%if(productoEditar.estilo=="otros"){%> selected<%} %>>Otros </option>
                </select>                
              </div>
              <!--precio-->
              <div class="col-12 col-md-6">
                <label for="precioContado" class="form-label"
                  >Precio al contado:</label
                >
                <input
                  value="<%=productoEditar.precioContado%>"
                  class="form-control"
                  id="precioContado"
                  name="precioContado"
                  placeholder="Precio al contado es de..."
                />
              </div>
              <!--cuotas-->
              <div class="col-12 col-md-6">
                <label for="cantidadDeCuotas" class="form-label col-12"
                  >Cantidad de cuotas:</label
                >
                <select name="cantidadDeCuotas" id="cantidadDeCuotas" class="form-select">
                  <option value=""> Seleccione </option>
                  <option value="1" <% if(productoEditar.cantidadDeCuotas=="1"){%> selected <%}%>> 1 cuota </option>
                  <option value="3" <% if(productoEditar.cantidadDeCuotas=="3"){%> selected <%}%>> 3 cuotas sin interés </option>
                  <option value="6" <% if(productoEditar.cantidadDeCuotas=="6"){%> selected <%}%>> 6 cuotas sin interés </option>
                  <option value="12" <% if(productoEditar.cantidadDeCuotas=="12"){%> selected <%}%>> 12 cuotas sin interés </option>
                  <option value="18" <% if(productoEditar.cantidadDeCuotas=="18"){%> selected <%}%>> 18 cuotas sin interés </option>
                </select>
              </div>
              <!-- precio cuota-->
              <div class="col-12 col-md-6">

                <label for="precioCuotas" class="form-label"
                  >Precio por cada cuotas:</label
                >
                <input
                  value="<%=productoEditar.precioCuota%>"
                  class="form-control"
                  id="precioCuota"
                  name="precioCuota"
                />
              </div>
              <!-- envio gratis -->
              <div class="col-12 col-md-6">

                <label for="envioGratis" class="form-label col-12"
                  >Envio gratis:</label
                >
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="envioGratis" name="envioGratis" <% if(productoEditar.envioGratis){%> checked<%} %>>
                  
                </div>
              </div>
              <!-- alternativo -->
              <div class="col-12 col-md-6">
                <label for="alt" class="form-label">Alternativo:</label>
                <input
                  value="<%=productoEditar.alt%>"
                  class="form-control"
                  id="alt"
                  name="alt"
                  placeholder=""
                />
              </div>
              <!-- imagen -->
              <div class="col-12 col-md-6">
                <label for="image" class="form-label">Imagen:</label>
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  name="image"
                  placeholder="Subir una nueva imagen"
                />
              </div>
              <!--descripcion del producto-->
              <div class="col-12 col-md-6">
                <label for="descripcion" class="form-label"
                  >Descripcion:</label
                >
                <input
                  value="<%=productoEditar.descripcion%>"
                  type="text"
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                  placeholder=""
                />
              </div>
              <!--medidas-->
              <div class="col-12 col-md-6">
                <label for="medidas" class="form-label">Medidas:</label>
                <input
                  type="text"
                  value="<%=productoEditar.medidas%>"
                  class="form-control"
                  id="medidas"
                  name="medidas"
                  placeholder=""
                />
              </div>
              <!-- color -->
              <div class="col-12 col-md-6">
                <label for="color" class="form-label">Color:</label>
                <input
                  value="<%=productoEditar.color%>"
                  type="text"
                  class="form-control"
                  id="color"
                  name="color"
                  placeholder=""
                />
              </div>
              <div class="col-12 col-md-6">
                <!--detalles del producto-->
                <label for="detalles" class="form-label"
                  >Detalles del producto:</label
                >                
                <textarea
                  type="text"
                  class="form-control"
                  name="detalles"
                  id="detalles"
                ><%=productoEditar.detalles.join(',')%></textarea>
              </div>
              <div class="col-12 col-md-6">
                <label for="infoExtra" class="form-label">
                  Información extra sobre el producto:</label
                >
                <textarea                  
                  type="text"
                  class="form-control"
                  name="infoExtra"
                  id="infoExtra"
                ><%=productoEditar.infoExtra.join(',')%></textarea>
              </div>
              <div class="align-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-lg product-btn"
                  >
                    Guardar producto
                  </button>
                
              </div>
            </div>
          
        </div>
        <!-- fin del row -->
      </div>
    </form>
    </main>

    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
