<!DOCTYPE html>
<html lang="en">
  <head>
    <!--HEAD -->
    <%- include('../partials/head', {title: 'Crear un producto'}) %>
  </head>
  <body class="bg-ligth-grey">
    <!--HEADER -->
    <%- include('../partials/header') %>
    <main class="container products-wrapper">
      <div class="row text-align-c">
        <div class="col-12">
          <h2 class="products-title">Creación de productos</h2>
        </div>
      </div>
      <div class="col-12 mt-3">
        <form action="/products" method="POST" enctype="multipart/form-data">
          <div class="row product-detail pb-5">
            <!--nombre-->
            <div class="col-12 mt-3">
              <label for="nombre" class="form-label">Nombre del producto:</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="form-control"
                placeholder=""
              />
            </div>
            <!--precio-->
            <div class="col-4 mt-3">
              <label for="precioContado" class="form-label">Precio:</label>
              <input
                type="text"
                name="precioContado"
                id="precioContado"
                class="form-control"
                placeholder=""
              />
            </div>
             <!--cuotas-->
             <div class="col-4 mt-3">
              <label for="cantidadDeCuotas" class="form-label">Cuotas:</label>
              <select name="cantidadDeCuotas" id="cantidadDeCuotas" class="form-select">
                <option value=""> Seleccione </option>
                <% cuotas.forEach(cuota => {%>
                <option value="<%=cuota.id%>"><%=cuota.nombre%> </option>
                <% })%>
              </select>
            </div>
            <!-- precio cuota-->
             <div class="col-4 mt-3">
              <label for="precioCuota" class="form-label">Precio de la cuota:</label>
              <input 
                type="text"
                name="precioCuota"
                id="precioCuota"
                class="form-control"
                placeholder=""
              />
            </div>  

            <!--categoria-->
            <div class="col-12 col-md-6 mt-3">
              <label for="price" class="form-label">Categoría:</label>
              <select name="categoria" id="categoria" class="form-select">
                <option value="">Seleccione</option>
                <% categorias.forEach(categoria => {%>
                <option value="<%=categoria.id%>"><%=categoria.nombre%></option>
                <% })%>
              </select>
            </div>
            <!--ambientes-->
            <div class="col-12 col-md-6 mt-3">
              <label for="price" class="form-label col-12">Ambientes:</label>             
              <% ambientes.forEach(ambiente => {%>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="<%=ambiente.id%>" name="ambientes" value="<%=ambiente.id%>">
                  <label class="form-check-label" for="<%=ambiente.id%>"><%=ambiente.nombre%></label>
                </div>
                <% })%>             
            </div>
            <!--estilos-->
            <div class="col-12 col-md-6 mt-3">
              <label for="estilos" class="form-label col-12">Estilos:</label>
              <select class="form-select" multiple aria-label="multiple select example" name="estilos" id="estilos">
                <% estilos.forEach(estilo => {%>
                  <option value="<%=estilo.id%>"><%=estilo.nombre%></option>
                <% })%> 
              </select>
            </div>
            <!--descripcion del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="descripcion" class="form-label col-12">Descripción</label>
              <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>            
            </div>
            <!--detalles del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="descripcion" class="form-label col-12">Detalles <span class="font-red"> (Indicar los detalles separados por comas)</span></label>
              <textarea class="form-control" id="detalles" name="detalles" rows="3"></textarea>            
            </div>
            <!--Información extra del producto-->
            <div class="col-12 col-md-6 mt-3">
              <label for="infoExtra" class="form-label">Información extra del producto<span class="font-red"> (Indicar la información extra separados por comas)</span></label>
              <textarea class="form-control" id="infoExtra" name="infoExtra" rows="3"></textarea>            
            </div>          
            <!--medidas-->
            <div class="col-12 col-md-6 mt-3">
              <label for="medidas" class="form-label">Medidas:</label>
              <input
                type="text"
                name="medidas"
                id="medidas"
                class="form-control"
                placeholder=""
              />
            </div>                      
            <!-- color -->
            <div class="col-12 col-md-6 mt-3">
              <label for="color" class="form-label">Color:</label>
              <input 
                type="text"
                name="color"
                id="color"
                class="form-control"
                placeholder=""
              />
            </div>
            <!-- envio gratis -->
            <div class="col-12 col-md-6 mt-3">
              <label for="envioGratis" class="form-label">Envio gratis:</label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="envioGratis" name="envioGratis">
                
              </div>
            </div>
            <!--la imagen del producto-->
            <div class="col-12 mt-3">
              <!-- Imagen -->
              <label for="formFile" class="form-label">Imagen</label>
              <input class="form-control" type="file" id="image" name="image">
            </div>
            <!--Texto alternativo de la imagen-->
            <div class="col-12 col-md-6 mt-3">
            <label for="alt" class="form-label">Cargar texto alternativo de la imagen:</label>
              <input
              type="text"
              name="alt"
              id="alt"
              class="form-control"
              />
            </div>
            <div class="col-12 mt-3 text-align-c">
              <button type="submit" class="btn bg-pink btn-lg font-white reg">
                REGISTRAR
              </button>
            </div>
        </form>
      </div>
    </main>
    <!--FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
